.parent-container {
  display: grid;
  height: 100vh;
  margin-left: page;
  position: absolute;
  left:0;
  margin-top: 30px;
padding-left: 10px;
}

.sidebar {
  height: 100vh;
  background-color:transparent;
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
}
.sidebar>.a >.img{
  height: 30px;
  width: 30px;

}

.sidebar > a:first-child {
  padding: 0;
}
.sidebar > a > img {
  width: 100%;
  transition: all 0.5s;
}

.sidebar > a > img:hover {
  filter: drop-shadow(0 0 10px tomato);
}
.sidebar a {
  background-color: transparent;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.493);
  font: 200 1rem "Roboto";
  padding: 2rem;
  transition: all 0.5s;
}
.sidebar a:hover {
  color: tomato;
  transform: scale(1.1);
}

.sidebar a > P {
  display: flex;
  align-items: center;
}
.sidebar a > p > svg {
  margin-right: 0.5rem;
}

.MuiTypography-root {
  background-color: transparent !important;
}
.MuiTreeView-root {
    background-color: transparent !important;
  }
.MuiCollapse-wrapperInner>a{
  background-color: rgb(90, 141, 185) !important;
}
  .MuiTreeItem-root .Mui-expanded .Mui-selected
  {
    background-color: transparent !important;

  }