  .wrapper {
    position: relative;
    width: 850px;
    height: 430px;
    margin: 100px auto;
    background: url("../extra/duckie.avif");
    background-position: 90% 50%;
    box-shadow: 0 5px 5px rgba(55,55,55,.4);
  }
  
  .wrapper  .name {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: #fff;
    font-size: 55px;
    word-wrap: wrap;
    padding: 10px;
    font-family: sans-serif;
  }
  
  .wrapper>.content {
    position: absolute;
    right: 20px;
    top: -50px;
    width: 400px;
    height: 120%;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 4px rgba(55,55,55,.3);
    border-radius: 5px;
  }

  .heading{
  padding-left: 35%;
  font-size: 28px;
  padding-bottom: 20px;
  color: rgb(37, 99, 99);
  }
  
  .content>p{
    color: rgb(11, 52, 39);
  }