.confirmOrderPage {
    height: 100vh;
    background-color:transparent;
    display: grid;
    grid-template-columns: 6fr 3fr;
  }
  
  .confirmOrderPage > div:last-child {
    border-left: 3px solid rgba(0, 0, 0, 0.247);
    padding: 7px;
    font-size: larger;
  }


  
  .confirmshippingAreaBox
  {
    font-size: 1.rem;
    margin: 80px;
    letter-spacing: 1px;
  }

  .confirmCartItemsContainer {
    margin: 2vmax;
    font-size: 0.8rem;
  }
  
  .confirmshippingAreaBox > div {
    display: flex;
    margin: 1vmax 0;
  }

  .confirmCartItems {
    padding: 5vmax;
    padding-top: 2vmax;

  }
  
  .confirmCartItemsContainer {
    max-height: 30vmax;
    overflow-y: auto;
  }
  
  .confirmCartItemsContainer > div {
    display: flex;
    font: 400 2vmax "Roboto";
    align-items: center;
    justify-content: space-between;
    margin: 2vmax 0;
  }
  
  .confirmCartItemsContainer > div > img {
    width: 4vmax;
  }
  
  .confirmCartItemsContainer > div > a {
    color: rgb(164, 49, 49);
    margin: 0 2vmax;
    width: 60%;
    text-decoration: none;
  }
  

  .orderSummary {
    padding: 7vmax;
  }
  
  .orderSummary > p {
    text-align: center;
    font: 400 2vmax "Roboto";
    border-bottom: 2px solid rgba(0, 0, 0, 0.267);
    padding: 2vmax;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
  }
  
  .orderSummary > div > div {
    display: flex;
    justify-content: center;
    font: 300 1.3vmax "Roboto";
    justify-content: space-between;
    margin: 2vmax 0;
  }

.proceed{
  padding:10px;
  margin-left: 40%;
  background-color: aquamarine;
  border-radius: 10px;
  color: rgb(19, 69, 113);
  
}
.topics>p{
  color:rgb(209, 85, 85);
  font-size: larger;
  margin-top: 50px;
  margin-left: 40%;
  font-size: 2rem;
  font-style: oblique;
}