.paymentContainer {
    display: grid;
    place-items: center;
    background-color: rgb(255, 255, 255);
    height: 60vh;
    margin: 2vmax;
  }
  
  
  .paymentform{
    width: 50vh;
    }
  
  .paymentInput {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    outline: none;
    margin: 5px;
    
  }
  
  .paymentFormBtn {
    margin-top: 10px;
    border-radius: 10px;
    background-color: tomato;
    color: white;
    font: 300 1.5vmax "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
  }
  
  .paymentFormBtn:hover {
    background-color: rgb(179, 66, 46);
  }
