.myButton {
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, darkblue, darkorchid) border-box;
    border-radius: 25em;
    border: 4px solid transparent;
    padding: 0.8rem;
	transition: color .3s ease-in-out, box-shadow .5s ease-in-out;
  }

  .myButton:hover{
    color:rgb(223, 150, 150);
    box-shadow: inset 100px 0 0 0 #231957;
  }

.banner{
    background: white;
    background-image:white;
    height:100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;
}

.banner > h1{
    height:30%;
    margin: 10px;
    font:600 2.5vmax "Sans-serif";
    padding: 3px;
}

.homeHeading{
  text-align: center;
  font-size: 30px;
  border-bottom: 1px solid ;
  max-width: 20%;
  padding: 10px;
  margin: 10px auto;
}

.productCard{
  color: rgb(44, 11, 103);
  width:250px;
  display:flex;
  flex-direction: column;
  text-decoration: none;
  margin: 10px solid;
  transition: all 2s;
  padding-bottom: 8px;
}

.productCard >img{
  width:250px;
}

.productCard >div{
  margin: 10px;
  display: flex;
  justify-content: flex-start;
}

.productCard >div>span{
  margin-left: 10px;
  margin-top: 6px;
  font:300 10px;
}
