.myButton {
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 25em;
  border: 4px solid transparent;
  padding: 0.8rem;
  transition: color 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
  font-weight: bold;
  font-size: 1.2rem;
}
.myButton:hover {
  color: rgb(223, 150, 150);
  box-shadow: inset 200px 0 0 0 #231957;
}
.banner {
  background: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: black;
}
.banner > h1 {
  height: 30%;
  margin: 10px;
  font-weight: bold;
  font-size: 3.5rem;
  padding: 3px;
}

.productCard {
  color: #333;
  width: 250px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 20px solid;
  margin-bottom: 40px;
  margin-top: 10px;
  transition: all 1s;
  padding: 18px;
  border: #3589a5 3px solid;
  background-color:#f5f5f5;
  box-shadow: 5px 5px 5px rgba(20, 20, 20, 0.2);
}
.productCard > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin-bottom: 10px;
}
.productCard > div {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productCard > div > span {
  font-size: 1.2rem;
  font-weight: bold;
}
.productCard > p {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
}
.productCard:hover {
  transform: translateY(-10px);
  background-color: rgb(204, 213, 227);
  box-shadow: 5px 5px 10px rgba(20, 20, 20, 0.3);
}
@media screen and (max-width:600px) {
  .productCard >p{
      font-size: 20px;
 }
  .productCard >div{
      margin: 5px;
      display: block;
 }
  .productCard>span {
      font-size: 1.5px;
 }
  .productCard >div>span{
      margin-left: 5px;
      margin-top: 4px;
      font:300 5px;
 }
}
.containar{
  display: flex;
  margin: 25px auto;
  width: 90vw;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:30px;
  max-width: 80%;
}
.homeHeading {
  text-align: center;
  font-size: 3rem;
  border-bottom: 1px solid;
  max-width: 30%;
  padding: 10px;
  margin: 10px auto;
  font-weight: bold;
}